.DS_Store
*.xcuserstate
skyclub.xcworkspace/xcuserdata/max.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
skyclub.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate
skyclub.xcworkspace/xcuserdata/max.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
